<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Data</key>
		<array>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>52</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>55</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>43</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>10</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>52</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>74</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>52</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>43</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>52</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>37</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>73</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>73</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>15</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>74</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>10</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>74</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>26</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>55</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>21</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>65</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>64</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>75</integer>
			<integer>61</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
			<integer>-1</integer>
		</array>
		<key>DataLength</key>
		<integer>1156</integer>
		<key>Header</key>
		<dict>
			<key>FrameID</key>
			<string>map</string>
			<key>Seq</key>
			<integer>0</integer>
			<key>Stamp</key>
			<integer>1513595809298993608</integer>
		</dict>
		<key>Info</key>
		<dict>
			<key>Height</key>
			<integer>34</integer>
			<key>MapLoadTime</key>
			<integer>1513595809298993608</integer>
			<key>Origin</key>
			<dict>
				<key>Orientation</key>
				<dict>
					<key>W</key>
					<integer>1</integer>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Z</key>
					<integer>0</integer>
				</dict>
				<key>Position</key>
				<dict>
					<key>X</key>
					<real>-1.05</real>
					<key>Y</key>
					<real>-1.05</real>
					<key>Z</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Resolution</key>
			<real>0.050000000000000003</real>
			<key>Width</key>
			<integer>34</integer>
		</dict>
	</dict>
</array>
</plist>
